.employees
	position: relative
	padding: 88px 0 0
	&__container
		max-width: 1420px
	&__slider
		display: none
		padding: 0 35px 0 65px
		margin: 27px 0 0
		&.slick-initialized
			display: block
		.slider-btn
			top: 45%
			margin-top: -25px
			&_next
				right: -15px
			&_prev
				left: 15px
	&__person
		font-size: 0
		cursor: default
		&-look
			position: relative
			display: inline-block
			vertical-align: middle
			width: percentage(665 / 1170)
			text-align: right
			img
				display: inline-block
				vertical-align: bottom
				position: relative
				z-index: 2
		&-speech
			position: absolute
			top: 22%
			left: 17%
			z-index: 1
			max-width: 270px
			padding: 28px 30px 22px 30px
			box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.2)
			border-radius: 28px
			border: 3px solid $white
			background-color: #cdecff
			text-align: left
			font-size: 17px
		&-text
			display: inline-block
			vertical-align: middle
			width: percentage(505 / 1170)
			padding: 0 28px 0 20px
			font-size: 18px
			strong
				+f('mus-700')
		&-name
			+f('mus-700', 25, 28)
			color: $black
		&-pos
			+f('mus-700', 18, 28)
		&-edu
			margin-top: 15px
			font-size: 18px
			line-height: 20px
			& ~ p
				margin-top: 12px
	&__ask-btn
		margin-top: 25px
		padding: 0 53px
	&__bg
		+coverdiv
		background-size: cover
		background-repeat: no-repeat
		z-index: -1