.header
	padding: 40px 0 60px
	&__container
		display: flex
		justify-content: space-between
	&__logo
		width: percentage(350 /1110)
	&__info
		width: percentage(730 /1110)
	&__contacts
		display: flex
		justify-content: space-between
		align-items: center
		padding-bottom: 25px
		&-block
			a
				+f('mus-300', 15, 15)
				border-bottom: 1px solid rgba($purple-dark, .65)
				+trs
				.no-touch &:hover
					border-bottom-color: $purple-dark
			&_city
				position: relative
				padding-left: 15px
				.icon-loc
					position: absolute
					top: 0
					left: 0
					font-size: 20px
					fill: $green
					
		&-text
			display: block
			+f('mus-700', 18, 22)
		&-tel
			font-size: 26px
			span
				+f('mus-900')
		
.logo
	text-align: center
	img
		display: block
		width: 100%
	&__link
	
	&__descr
		font-size: 20px
	
.nav
	background: #fff
	+sm
		padding: 13px 0
	+xs
		display: flex
		flex-direction: column
		justify-content: center
		position: absolute
		width: 100%
		height: 100vh
		top: 60px
		left: 0
		bottom: 0
		right: 0
		z-index: 10
		overflow: auto
		opacity: 0
		visibility: hidden
		padding: 0
		transform: translate3d(0, 100px, 0)
		transition: transform .4s ease, opacity .4s ease, visibility 0s .4s
		background: #1d71b8
	&.is-active
		opacity: 1
		visibility: visible
		-webkit-transform: translate3d(0, 0, 0)
		transform: translate3d(0, 0, 0)
		transition: transform .4s ease, opacity .4s ease, visibility 0s 0s
	&__list
		display: flex
		justify-content: space-between
		+xs
			flex-direction: column
			justify-content: center
			margin-top: -60px
			overflow: auto
			padding: 0
		li
			+xs
				margin: 8px 0
				text-align: center
			&:last-child
				padding-right: 0
		a
			color: $black
			+f('mus-900', 15, 22)
			text-transform: uppercase
			border-bottom: 1px solid rgba($black, .5)
			+trs
			+sm
				font-size: 14px
			+xs
				display: block
				padding: 10px
				font-size: 17px
				color: #fff
			.no-touch &:hover
				border-bottom-color: $black