.hero
	position: relative
	padding: 50px 0 66px
	&__container
		+clr
	&__inner
		float: right
		width: 100%
		max-width: 540px
		padding: 0 30px
		text-align: center
	&__title
		margin-bottom: 4px
		+f('mus-900', 34, 45)
	&__sub-title
		margin-bottom: 25px
		font-size: 25px
		line-height: 35px
	&__form
		max-width: 350px
		margin: 0 auto
		&-field
			margin-bottom: 15px
	&__bg
		+coverdiv
		background-size: cover
		background-repeat: no-repeat
		z-index: -1