.photos
	position: relative
	padding: 226px 0 34px
	margin-top: -50px
	+sm
		padding: 175px 0 30px
	+xs
		margin-top: 0
		padding: 50px 0 30px
	&::before
		display: none
		position: absolute
		top: -4px
		left: 0
		right: 0
		z-index: 3
		height: 237px
		background: url("../img/bg/photos-decor.png") no-repeat 50% 50% / cover
		content: ''
		pointer-events: none
		+r(1899)
			display: block
		+sm
			top: -40px
			left: -150px
			transform: rotate(6deg)
		+xs
			display: none
	&__inner
		margin: 0 -15px
		font-size: 0
		+sm
			margin: 0 -5px
	&__slider
		display: inline-block
		vertical-align: middle
		width: 50%
		+sm
			display: block
			width: 100%
			max-width: 570px
			margin: 0 auto
		.slick-list
			padding: 0 0 50px
		.slider-btn
			top: 38%
			width: 42px
			height: 42px
			z-index: 1
			opacity: 1
			+sm
				top: 82%
			img
				display: block
				width: 100%
				height: 100%
			&_prev
				left: -5px
				+sm
					left: 5px
			&_next
				right: -5px
				+sm
					right: 5px
		&-item
			position: relative
			padding: 0 13px
			+sm
				padding: 0
		&-img
			height: 365px
			border-radius: 40px
			border: 3px solid $white
			overflow: hidden
			box-shadow: 3px 4px 5px rgba(0, 0, 0, 0.1)
			+cover-img
			+sm
				height: 250px
		&-text
			position: absolute
			left: 16%
			bottom: -7px
			transform: translateY(50%)
			max-width: 225px
			z-index: 1
			font-size: 17px
			p
				display: inline-block
				vertical-align: top
				padding: 10px 20px
				background-color: #cdecff
				&:first-of-type
					border-radius: 10px 10px 10px 0
				&:last-of-type
					margin-top: -10px
					padding: 5px 20px 10px
					border-radius: 0 10px 10px
	&__text
		display: inline-block
		vertical-align: middle
		width: 50%
		padding: 0 30px
		+sm
			width: 100%
			margin-top: 15px
		+sm
			padding: 0 10px
		&-list
			li
				display: flex
				align-items: center
				+f('mus-700', 16, 20)
				&:not(:first-child)
					margin-top: 22px
				.icon
					flex-shrink: 0
					margin-right: 10px
					font-size: 25px
	&__bg
		+coverdiv
		z-index: -1
		+cover
		opacity: .5
