.programs
	padding: 125px 0 52px
	+sm
		padding: 65px 0 30px
	&__list
		margin: 35px -15px 0
		font-size: 0
		text-align: center
		+xs
			margin: 35px 0 0
	&__card
		display: inline-block
		vertical-align: top
		width: 255px
		min-height: 474px
		margin: 0 15px 30px
		padding: 0 22px 0 25px
		line-height: 22px
		box-shadow: 0 0 7px rgba(0, 0, 0, 0.15)
		border-radius: 15px
		background-color: $white
		text-align: center
		&-icon
			height: 162px
			margin-bottom: 26px
			+vertical
			.icon
				display: inline-block
				vertical-align: bottom
			.icon-key
				position: relative
				top: -11px
		&-text
			text-align: left
		&-title
			margin-bottom: 5px
			+f('mus-700', 25)
			text-transform: uppercase
			color: $black
		&-sub-title
			+f('mus-700', 25)
			color: #25a84a
			text-transform: uppercase
			font-size: 13px
		&-descr
			margin: 5px 0 10px
			font-size: 15px
			color: #5e5f78
		&-price
			margin: 14px 0
			text-transform: uppercase
			+f('mus-700', 13, 20)
			color: $black
			span
				display: inline-block
				margin: 0 4px
				vertical-align: bottom
				+f('mus-900', 22)
				
.programs-more
	&__top
		display: flex
		align-items: center
		margin-bottom: 10px
	&__name
		margin-left: 25px
		text-align: left
	&__photos
		display: flex
		justify-content: space-between
		+xs
			flex-direction: column
		&-item
			flex: 0 1 260px
			+cover-img
			overflow: hidden
			border-radius: 10px
			+sm
				padding: 0 4px
			+xs
				padding: 0
				flex: 0 1 auto
				margin-bottom: 10px
	&__title
		margin-bottom: 25px
		+f('mus-700', 25, 22)
		color: #000
		+xs
			font-size: 23px
	&__sub-title
		margin-bottom: 8px
		+f('mus-700', 14, 20)
		color: #000
		text-transform: uppercase
	&__text
		display: flex
		margin: 25px 0 40px
		+xs
			flex-direction: column
			margin: 10px 0 20px
		&-col
			display: flex
			flex-direction: column
			justify-content: space-between
			text-align: left
			&:nth-child(1)
				width: 40%
				padding-right: 40px
				+xs
					width: auto
					padding-right: 0
					margin-bottom: 20px
			&:nth-child(2)
				width: 60%
				padding-right: 30px
				+xs
					width: auto
					padding-right: 0
		p
			font-size: 15px
			line-height: 22px
			color: #5e5f78
			&:not(:first-of-type)
				margin-top: 10px
	&__price
		display: inline-flex
		align-items: center
		margin-top: 20px
		+f('mus-700', 13)
		color: #000
		text-transform: uppercase
		span
			margin: 0 5px
			+f('mus-900', 22)
	&__form
		&-in
			display: flex
			align-items: center
			+sm
				flex-wrap: wrap
				justify-content: center
			+xs
				flex-direction: column
				align-items: stretch
		&-field
			flex-basis: 33.33333%
			+sm
				flex: 0 0 260px
			+xs
				flex: 1 0 auto
			&:not(:first-child)
				margin-left: 30px
				+xs
					margin: 20px 0 0 0
			&:nth-child(3)
				+sm
					margin: 20px 0 0 0
		&-input
			height: 45px
	&__enroll-btn
		width: 100%
		padding: 0 15px
		font-size: 16px