.why-us
	position: relative
	padding: 60px 0 80px
	&__container
		text-align: center
	&__logo
		display: inline-block
		width: 265px
	&__inner
		margin: 40px 0
		font-size: 0
	&__item
		display: inline-block
		vertical-align: top
		width: 50%
		font-size: 0
		&-icon
			display: inline-block
			vertical-align: middle
			width: 120px
		&-text
			display: inline-block
			vertical-align: middle
			width: calc(100% - 120px)
			font-size: 17px
			text-align: left
	&__all-btn
		padding: 0 40px
	&__bg
		+coverdiv
		z-index: -1
		+cover
