.icon-4567, .icon-356, .icon-angel, .icon-giraffe, .icon-carrot, .icon-key, .icon-impulse, .icon-fitnes, .icon-fox, .icon-squirrel, .icon-tiger, .icon-worm, .icon-dynamite, .icon-17, .icon-bottle, .icon-tree, .icon-15, .icon-12, .icon-robot, .icon-lamp, .icon-reptile, .icon-lock, .icon-benefits-4, .icon-benefits-2, .icon-benefits-1, .icon-benefits-3, .icon-dev
	display: inline-block
	background: url('../img/icons/home-sprite.png') no-repeat

.icon-4567
	background-position: -5px -0px
	width: 208px
	height: 76px

.icon-356
	background-position: -5px -81px
	width: 143px
	height: 91px

.icon-angel
	background-position: -5px -177px
	width: 124px
	height: 113px

.icon-giraffe
	background-position: -5px -295px
	width: 121px
	height: 111px

.icon-carrot
	background-position: -5px -411px
	width: 120px
	height: 100px

.icon-key
	background-position: -5px -516px
	width: 118px
	height: 94px

.icon-impulse
	background-position: -5px -615px
	width: 112px
	height: 127px

.icon-fitnes
	background-position: -5px -747px
	width: 109px
	height: 117px

.icon-fox
	background-position: -5px -869px
	width: 108px
	height: 117px

.icon-squirrel
	background-position: -5px -991px
	width: 108px
	height: 120px

.icon-tiger
	background-position: -5px -1116px
	width: 104px
	height: 113px

.icon-worm
	background-position: -5px -1234px
	width: 99px
	height: 118px

.icon-dynamite
	background-position: -109px -1234px
	width: 97px
	height: 134px

.icon-17
	background-position: -114px -1116px
	width: 93px
	height: 67px

.icon-bottle
	background-position: -5px -1357px
	width: 92px
	height: 118px

.icon-tree
	background-position: -102px -1373px
	width: 92px
	height: 113px

.icon-15
	background-position: -118px -869px
	width: 90px
	height: 65px

.icon-12
	background-position: -119px -747px
	width: 88px
	height: 61px

.icon-robot
	background-position: -122px -615px
	width: 81px
	height: 105px

.icon-lamp
	background-position: -130px -411px
	width: 78px
	height: 116px

.icon-reptile
	background-position: -131px -295px
	width: 77px
	height: 105px

.icon-lock
	background-position: -134px -177px
	width: 69px
	height: 105px

.icon-benefits-4
	background-position: -128px -532px
	width: 64px
	height: 53px

.icon-benefits-2
	background-position: -119px -813px
	width: 56px
	height: 52px

.icon-benefits-1
	background-position: -153px -81px
	width: 51px
	height: 41px

.icon-benefits-3
	background-position: -118px -939px
	width: 46px
	height: 52px

.icon-dev
	background-position: -153px -127px
	width: 16px
	height: 20px