if testimonials ? testimonials : testimonials = []

//begin testimonials
+b.SECTION.testimonials(class= testimonials.classMod ? testimonials.classMod : '')
	+e.container.container
		+b.H2.title._has-decor.testimonials__title ОТЗЫВЫ
			+e.SPAN.decor._green РОДИТЕЛЕЙ
			= ' '
			| И ИХ
			+e.SPAN.decor._gray ДЕТОК

		+e.slider.js-default-slider
			+e.slider-item
				+e.video-wrap
					+e.video
						iframe(src='https://www.youtube.com/embed/eXDU9um19HM?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
				+e.text
					+e.H5.text-title Вероника, мама Глеба и Матвея
					+e.P.text-sub-title Глеб и Матвей посещают "БейбиКлуб" более 1 года
					+e.text-descr
						+e.P Я мама двоих детей. С моим младшим сыном Глебом мы начали ходить в «Бейбиклуб », когда ему было 1,5 года. В этом году он идет в первый класс. Начинали мы заниматься с кружка «Малышок», когда исполнилось 4 года пришли на занятия в кружок «Кубики», где сын научился уверенно читать, писать, складывать и вычитать не только простые, но и двухзначные числа.
						+i('quote-l')
						+i('quote-r')

			+e.slider-item
				+e.video-wrap
					+e.video
						iframe(src='https://www.youtube.com/embed/eXDU9um19HM?rel=0&showinfo=0', frameborder='0', allowfullscreen='')
				+e.text
					+e.H5.text-title Вероника, мама Глеба и Матвея
					+e.P.text-sub-title Глеб и Матвей посещают "БейбиКлуб" более 1 года
					+e.text-descr
						+e.P Я мама двоих детей. С моим младшим сыном Глебом мы начали ходить в «Бейбиклуб », когда ему было 1,5 года. В этом году он идет в первый класс. Начинали мы заниматься с кружка «Малышок», когда исполнилось 4 года пришли на занятия в кружок «Кубики», где сын научился уверенно читать, писать, складывать и вычитать не только простые, но и двухзначные числа.
						+i('quote-l')
						+i('quote-r')

	+e.bg(style='background-image: url(static/img/bg/photos_bg.png)')