if whyUs ? whyUs : whyUs = []
if whyUs.title ? whyUs.title : whyUs.title = 'ПОЧЕМУ МАМЫ И ПАПЫ 4 567 ДЕТЕЙ ВЫБИРАЮТ'

//begin whyUs
+b.SECTION.why-us(class= whyUs.classMod ? whyUs.classMod : '')
	+e.container.container
		+e.H2.title.title= whyUs.title
		+e.A.logo(href='#!')
			+e.IMG(src='static/img/logo.svg' alt='Бэби клуб')
		+e.inner
			-
				whyUsList = [{
				icon: 'impulse',
				text: 'Если ваш ребенок заболел, мы перенесём занятия на следующий месяц'
				}, {
				icon: 'key',
				text: 'В группе нет болеющих детей. За этим ежедневно смотрит наш педиатр'
				}, {
				icon: 'lamp',
				text: 'Наш штатный психолог наблюдает за микроклиматом группы и настроением каждого ребенка ежедневно'
				}, {
				icon: 'carrot',
				text: 'У нас установлено видеонаблюдение, чтобы вы могли видеть ребенка в любое время с компьютера или мобильного телефона'
				}]
			mixin whyUsItem(item)
				+e.item
					+e.item-icon
						+b.DIV(class=`icon-${item.icon}`)
					+e.item-text
						+e.P= item.text
			each item in whyUsList
				+whyUsItem(item)
		+e.A.all-btn.btn._green._lg(href='#!') Смотреть все гарантии
	+e.bg(style='background-image: url(static/img/bg/employees_bg.jpg)')