extends ../extend/default

block variables
	- var title = 'Бэби клуб';

block main
	main.content

	include ../components/hero

	include ../components/benefits

	include ../components/employees

	include ../components/lesson

	include ../components/photos

	include ../components/programs

	include ../components/why-us

	include ../components/enroll